.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ImageName{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 30px;
}

.Account{
  text-align: left;
  padding-left: 15px;
  font-size: 20px;
}

.BalanceText{
  text-align: right;
  padding-right: 30px;
  font-size: 20px;
}

.amount{
  text-align: right;
  padding-right:60px;
  font-size: 35px;

  background-color: #f0f0f0; 
  border: 2px solid #000; 
  padding: 10px; 
  border-radius: 15px;
  margin: 20px; 
}

.SendImageName{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 25px;
}

.titleOfsend{
  font-size: 25px;
  margin-top: 100px; 
  margin-left: 20px; 
}

.SendUp{
  font-size: 25px;
  margin-top: 15px; 
  margin-left: 20px; 
}
.SendUPNumber{
  text-align: right;
  padding-right:60px;
  font-size: 25px;
}
.SendUPNumber2{
  text-align: right;
  padding-right:60px;
  font-size: 25px;
  background-color: #f0f0f0; 
  border: 2px solid #000; 
  padding: 10px; 
  border-radius: 15px;
  margin: 20px; 
}
.InputSend {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.SendBotton{
  padding-right:60px;
  font-size: 25px;
  padding: 10px; 
  margin: 20px; 
}
.RequestMessage{
  padding-right:60px;
  font-size: 25px;
  padding: 10px; 
  margin: 20px; 
  background-color: #ffffff; 
  height: 90px;
  border-radius: 15px;
}
.currency {
  font-size: 30px; 
  margin-left:1px;
}
.titleOfRequest{
  font-size: 25px; 
  text-align: center;
  padding-top: 10px;
}
.Requestmessage{
  font-size: 25px; 
  padding-top: 30px;
  padding-left: 20px;
}
.RequstNumber{
  font-size: 25px; 
  padding-top: 30px;
  /* padding-right: 20px; */
}
.SendMessageBotton{
  padding-right:60px;
  font-size: 25px;
  padding: 10px; 
  margin: 10px; 
  height: 65px;
  border-radius: 15px;
  width: 300px;
  text-align: center;
  /* padding-top:60px; */
  background-color: #f10e0e; 
}
.SendUPNumber3{
  text-align: left;
  padding-left:20px;
  font-size: 25px;
  padding-top:20px;
}