.SendMoneyButtonContent{
    position: relative;
    padding-top:10px;
}

.SendMoneyButton{
    appearance: none;
    border: 0.2;
    border-radius: 10px;
    background: #ffffff;
    color: #393939;
    padding: 20px 120px;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
}

.Walletpic{
    position: absolute;
    top: 0;
    right: 260px;
    bottom: 0;
    left: 0;
    margin: auto;
}

.AllowRightpic{
    position: absolute;
    top: 0;
    right: 180px;
    bottom: 0;
    left: 0;
    margin: auto;
}

.ChevronRightpic{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 180px;
    margin: auto;
}

.ChevronRightpic2{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 240px;
    margin: auto;
}

.FinishDisplay{
    text-align: center;
    margin-top : 200px;
}

.ReturnHomeButtonContent{
    position: relative;
}

.ReturnHomeButton{
    text-align: center;
    appearance: none;
    border: 0.2;
    border-radius: 10px;
    background: #ffffff;
    color: #393939;
    padding: 20px 20px;
    font-size: 25px;
    margin-top: 50px;
    width: 80%;
}

.MakeLinkButton{
    text-align: center;
    appearance: none;
    border: 0.2;
    border-radius: 10px;
    background: #2b8819;
    color: #ffffff;
    padding: 20px 20px;
    font-size: 25px;
    width: 80%;
    margin-top: 20px;
}

.MadeLinkMessage{
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.MadeLink{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.MoveMakeLinkButton{
    text-align: center;
    appearance: none;
    border: 0.2;
    border-radius: 10px;
    background: #dc3333;
    color: #ffffff;
    padding: 20px 20px;
    font-size: 25px;
    width: 80%;
}

.MoveMakeLinkButtonPos{
    text-align: center;
    padding-top: 70px;
}

.BackToHomeButtonContent{
    position: relative;
    width: 70px; /* Adjust as needed */
    height: 70px; /* Adjust as needed */
    bottom: 10%;
    transform: translateY(50%);

}
.Homepic{
    width: 100%;
    height: 100%;
    display:block;
}
.BackToHomeButton{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    cursor: pointer;
}
.BackToHome{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}
.ErrorBackToHomeButton{
    width: 120px;
    height: 60px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}
.BackToHomeSend{
    position: absolute;
    top: 0%;
    left: 15%;
    transform: translateX(-50%);
}